<h1><%= @user.username %>'s Profile &amp; Mews</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>
  
  <% if current_user.id != @user.id %>
 
<p>
  <% if current_user.following.include?(@user.id) %>
        <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary", id: "unfollow-btn" %>
    <% else %>
    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
    <% end %>
</p>
<% end %>
<% @user.mews.each do |mew| %>
<div>
    <p><%= mew.message %></p>
    <p><%= mew.user.username %></p>
</div>
<% end %>

<script>
  $(document).ready(function(){
    $("#unfollow-btn").hover(function(){
      $(this).removeClass("btn-primary");
      $(this).addClass("btn-danger");
      $(this).html("Unfollow");
    }, function(){
      $(this).html("Following");
      $(this).removeClass("btn-danger");
      $(this).addClass("btn-primary");
    });
  })
</script>